In [1]:
import pandas as pd

In [2]:
import torch
from torch import nn

将torch.Tensor转换为numpy.ndarray

In [3]:
matrix = torch.randn(4,3)
mat_np = matrix.numpy()
# 直接使用DataFrame便可将矩阵转为pandas的DataFrame
mat_pd = pd.DataFrame(mat_np)
print(mat_pd)

          0         1         2
0 -1.555229 -0.072155  1.158482
1 -1.829319 -0.028049  0.192595
2 -3.047824  0.889358 -1.583263
3 -0.536973 -0.312071 -1.320867

DataFrame的字典用法，使用属性列生成DataFrame

In [17]:
pd.DataFrame({1: [1, 2, 3], 2: [4, 5, 6]})

   1  2
0  1  4
1  2  5
2  3  6

从pandas中，切分出features和labels

方式一

In [4]:
features_1,labels_1 = mat_pd.iloc[:,:-1],mat_pd.iloc[:,-1]
features_1.shape,labels_1.shape

((4, 2), (4,))

方式二

In [5]:
features_2,labels_2 = mat_pd[mat_pd.columns[:-1]],mat_pd[mat_pd.columns[-1]]
features_2.shape,labels_2.shape

((4, 2), (4,))

更换pandas的columns

In [9]:
import copy
new_pd = copy.copy(mat_pd)
id(new_pd) == id(mat_pd)

False

In [12]:
id(new_pd[0]) == id(mat_pd[0])

False

In [16]:
new_pd.columns = ['a','b','c']
new_pd

          a         b         c
0 -1.000000 -0.072155  1.158482
1 -1.829319 -0.028049  0.192595
2 -3.047824  0.889358 -1.583263
3 -0.536973 -0.312071 -1.320867